.discover {
  .animate__animated.animate__fadeIn {
    --animate-duration: 1.5s;
  }
}

@keyframes ldio-xx1l9xyetmp {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}.ldio-xx1l9xyetmp div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-xx1l9xyetmp 1s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-xx1l9xyetmp div:nth-child(1) {
  border-color: #e90c59;
  animation-delay: 0s;
}
.ldio-xx1l9xyetmp div:nth-child(2) {
  border-color: #46dff0;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-b0ob67rpe8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-xx1l9xyetmp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xx1l9xyetmp div { box-sizing: content-box; }
.spinner {
  width: 100%;
  text-align: center;
}